.footer__title {
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffa5ba;
}
.footer__title__color {
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
.footer__contact {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  text-align: right;
  color: #000000;
}
.footer__contact-phone {
  color: #d41443;
}
.footer__rights {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #907e82;
}
